@CHARSET "ISO-8859-1";

body {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-stretch: normal;
	font-size: 1.1em;
}

#messageDiv,#nickDiv,#groupChat,#messageEnter {
	margin: 0 auto;
	margin-bottom: 2%;
}

#messageEnter {
	width: 50%;
	text-align: center;
}

#messageDiv {
	width: 500px;
	text-align: center;
}

#groupChat {
	padding: 5px;
	border: 2px solid #000000;
	border-radius: 3px;
	width: 50%;
	height: 300px;
	overflow: auto;
}

#nickDiv {
	width: 30%;
	border: 2px solid #5A5050;
	border-radius: 5px;
	padding: 2%;
	text-align: center;
}

.myButton {
	background-color: #007D9A;
	border: 2px solid #007D9A;
	border-radius: 3px;
	font-weight: bold;
	color: white;
	padding: 5px;
	box-shadow: 1px 1px 1px black;
	-webkit-transition: background-color 1s, border 1s;
	-moz-transition: background-color 1s, border 1s;
}

.myButton:hover {
	background-color: #4D90FE;
	border: 2px solid #4D90FE;
	border-radius: 3px;
	font-weight: bold;
	color: white;
	padding: 5px;
	box-shadow: 0px 0px 0px black;
	-webkit-transform: translate(1px, 1px);
	-moz-transform: translate(1px, 1px);
}

input[type=text] {
	width: 70%;
	border: 2px solid #5A5050;
	border-radius: 5px;
	padding: 5px 0 5px 0;
	box-shadow: 1px 1px 1px #5A5050;
}

.label {
	width: 30%;
	display: inline-block;
	text-align: left;
}

.input {
	width: 60%;
	display: inline-block;
	text-align: left;
}

.nickSpan {
	font-weight:bold;
	cursor: pointer;
}

.personalChatDiv {
	height: 100%;
	width: 100%;
}

.personalChatDisplay {
	height: 100px;
	width: 100%;
	border: 2px solid #5A5050;
	border-radius: 3px;
	overflow: auto;
}

.personalChatInput input{
	width: 100%;
}